
@media (max-width: 375px) {
    header {
      background-image: linear-gradient(to right, #0020f4, rgb(221, 17, 17));
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 185px;
    }
    header nav {
      display: none;
    }
    .centerDiv img {
      position: relative;
      left: 20px;
      top: -30px;
      width: 300px;
    }
    .firstsection {
      padding: 18px;
      padding-top: 0;
    }
    .firstsection h3 {
      font-size: 14px;
      text-align: left;
    }
    .buildingimages {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
    }
    .buildingimages :nth-child(5) {
      display: none;
    }
    .buildingimages img {
      width: 120px;
      padding: 0;
    }
    .firstsection p {
      padding: 0;
    }
    .display {
      display: none;
    }
  
    /*  */
    .secondsection{
      padding: 0;
  
    }
    .big{
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      /* flex-wrap: wrap-reverse; */
    }
    .big h2{
      font-size: 18px;
      margin: 0 60px;
      text-align: center;
    }
    .text{
      display: none;
    }
    .newinformation {
      width: 100%;
      height: 40px;
      border: none;
    }
  iframe{
    width: 300px;
    margin-top: 30px;
  }
  
  }
  