* {

    
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;

  }
  
  header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    gap: 30px;
    background-image: linear-gradient(to right, #0020f4, white);
    height: 387px;
    width: 100%;
  }
  
  .headerul {
    display: flex;
    gap: 30px;
    color: white;
    align-items: center;
    margin-top: 10px;
    font-size: 16px;
  }
  .headerul li:hover {
    border-bottom: 5px solid red;
  }
  

.centerimgdiv{
    display: flex;
    justify-content: center;
}

  .contact {
    border: none;
    border-radius: 28px;
    background-color: #ffffff;
    color: black;
    text-align: center;
    padding: 12px 30px;
  }
  
  .logo {
    width: 115px;
    height: 65px;
  }
  
  .center {
    position: relative;
    top: -150px;
    left: 80px;
  }
  .firstsection {
    padding: 0 100px 100px 100px;
  }

.firstsection h3{
    font-size: 28px;
}

  .firstsection p{
      padding: 0 120px;
      margin: 20px 0;
  }
  .buildingimages {
    display: flex;
    gap: 30px;
    justify-content: center;
  }
  .building {
    width: 250px;
  }
  
  .centerbutton {
    text-align: center;
  }
  
  .newinformation {
    margin-top: 58px;
    width: 341px;
    height: 55px;
    border-radius: 28px;
    opacity: 1;
    background-color: #0020f4;
    color: white;
  }
  



  .secondsection{
    background-color: blue;
    padding: 180px 0 0 0;

}
   


.big {
    display: flex;
    justify-content: space-around;
    padding: 20px 41px 0px 41px;
    
  }
  
  h2 {
    color: #ffffff;
    font-size: 32px;
  }
  
  .text p {
    font-size: 16px;
    width: 463px;
    height: 99px;
    color: #ffffff;
    margin: 20px 0 30px;
    text-align: left;
  } 
 
  iframe {
    border-radius: 5%;
    box-shadow: -4px 2px 2px 2px #ffffff;
  }

.emailandphone{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #ffffff;
    gap: 20px;
    align-items: stretch;
    
   
}

 .emailandphone img{
    border: 2px solid blue;
    background-color: #ffffff;
    border-radius: 120px;
    padding: 25px;
    margin-top: 60px;

}

.number{
    margin-top: 82px;
}




.rightside{
    margin-top: 80px;
}


.form-row{
    /* width: 110px;
    height: 19px; */
    size: 16px;
    color: white;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    
    
   
}


input{
    background-color: #0a22f4;
    background: transparent;
    border: 0px solid;
    
    opacity: 0,5;
}


.submitbutton{
    border: none;
    border-radius: 28px;
    margin-left: 241px;
    width: 151px;
    height: 55px;
    margin-top: 101px;
}




footer{
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    padding: 80px 241px 0 200px;

    
}


.rightsidefooter{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
}


span{
    position: absolute;
    
}

 
 